
 <hgroup>
   <div class="social">
    <a class="email" href="mailto:me@vishnuatrai.com" title="Email">Email</a>
    <a class="google" href="https://plus.google.com/102433220410072726105" rel="author" title="Google+">Google+</a>
    <a class="twitter" href="http://twitter.com/vishnuatrai" title="Twitter">Twitter</a>
    <a class="github" href="https://github.com/vatrai" title="GitHub">GitHub</a>
    <a class="rss" href="/atom.xml" title="RSS">RSS</a>
  </div>
 </hgroup>

<hgroup>
 <p class="site-subtitle" style="font-size:10px;">
  Copyright &copy; {{ site.time | date: "%Y" }} - {{ site.author }} 
  <br />
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
 </p>
 </hgroup>

